.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 16px;
  width: 100%;
}

.disclaimerText {
  color: #5f6368;
  max-width: 280px;
  display: inline-block;
}

.link {
  color: #4285f4;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease, text-decoration 0.2s ease;
}

.link:hover {
  text-decoration: underline;
  color: #3b78e7;
}
